/* @media (max-width: 1200px){
    .container {
        width: 100%;
        padding: 0px 24px;
    }
}

@media (max-width: 1440px){
    header .left .logo {
        margin-right: 60px;
    }
}

@media (max-width: 1050px){
    header .left nav ul li {
        margin-right: 30px;
    }
} */

header {
    display: flex;
    width: 1940px;
    margin: 0;
    padding: 0;
}

header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1940px;
}

/* Logo */
header .left .logo {
    margin-right: 50px;
    position: relative;
    z-index: 3;
    left: 210.00%;
    right: 75.42%;
    top: 1.9%;
    bottom: 97.11%;
}

html{
    margin: 0;
    padding: 0;
    width: 1950px;
}

header .left {
    display: -webkit-box;
    display: -ms-flexbox;
    width: 1300px;
    padding-right: 30px;
    
}

header .right {
    width: 243px;
    height: 60px;
    left: 1340px;
    top: 130px;
    display: flex;
    position: absolute;
}

header .left nav ul li {
    margin-right: 54px;
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    color: #FFFFFF;
    opacity: 0.7;
}

.container .left ul{
    list-style: none;
}

.container .left ul li {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    color: #FFFFFF;
    opacity: 0.7;
}

/* Para você */
.container .left ul .item1{
    position: absolute;
    width: 76px;
    height: 19px;

    left: 9.33%;
    top: -12.20%;
    
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    white-space: nowrap;
    
    color: #FFFFFF;

    opacity: 0.7;
}

/* Para seu negócio */
.container .left ul .item2{
    position: absolute;
    width: 132px;
    height: 19px;
    left: 16.33%;
    top: -12.20%;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    white-space: nowrap;

    color: #FFFFFF;

    opacity: 0.7;
}   

/* Link */
.container .left ul li a {
    display: block;
    padding: 10px 10px;
    display: inline;
   
    text-decoration: none;
    color: #FFFFFF;
}

/* Botão abra sua conta */
.container .right button{
    position: absolute;
    width: 243px;
    height: 40px;
    left: -10px;
    top: 13px;


    background: #FFCE2E;
    border-radius: 100px;
}

/* abra sua conta */
.container .right button h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    
    line-height: 5px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #242424;
}

/* Um banco transparente, completo e com a sua cara */
.banner .left h1 {
    position: absolute;
    width: 740px;
    height: 124px;
    left: 352px;
    top: 270px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    color: #FFFF;
}

/* Conta digital e cartão de crédito gratuitos. 
Saques e transferências sem tarifa. */
.banner .left h2 {
    position: absolute;
    width: 365px;
    height: 54px;
    left: 352px;
    top: 450px;
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFF;
    opacity: 0.7;
}

/* nossos produtos */
.banner .left button h3 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
    line-height: 10px;
    color: #FFFF;
}

/* Sem tarifas: */
.left h4 {
    position: absolute;
    width: 234px;
    height: 52px;
    left: 240px;
    top: 120px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;

    letter-spacing: -0.03em;

    color: #242424;
} 

/* economize seu dinheiro */
.left h5 {
    position: absolute;
    width: 341px;
    height: 36px;
    left: 240px;
    top: 180px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    white-space: nowrap;

    color: #616161;
}

/*  */
body {
    position: relative;
    line-height: 20.00;
    width: 2900px;
    height: 3000px;
    left: -24px;
    top: -85px;
    background-image: url(images/tela.png);
    background-repeat: no-repeat;
    
}

/*  */
a {
    position: absolute;
    width: 163px;
    height: 18px;
    left: 392px;
    top: 505px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner .left {
    width: 1000px;
}

/* BOTAO NOSSOS PRODUTOS */
.banner .left button {
    position: absolute;
    width: 243px;
    height: 48px;
    left: 352px;
    top: 550px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
}

/* Conheça nosso Programa de Pontos Átomos */
.banner .left p {
    position: absolute;
    width: 520px;
    height: 23px;
    left: 418px;
    top: 220px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    white-space: nowrap;

    color: #FFFFFF;

    opacity: 0.7;
}

.banner {
    top: 100px;
    padding-top: 1px;
    padding-bottom: 1px; 
    height: 400px;
}

.banner .container img {
    position: relative;
    line-height: 20.00;
    width: 1900px;
    height: 1097px;
    left: -24px;
    top: -85px;
    background-repeat: no-repeat;
}

.banner .container {
    width: 2243px;
    padding: 0 15px;
    margin: 0 auto; 
}

/* Botão azul NOVO */
.banner .left .buttonN {
    position: absolute;
    width: 54px;
    height: 26px;
    left: 352px;
    top: 240px;
    
    background: #006D8F;
    border-radius: 120px;
}

/* Novo */
.banner .left .buttonN h3 {
    width: 16px;
    height: 16px;
    left: 363px;
    top: 200px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 0px;

    color: #FFFFFF;
}

.vantagens .right {
    position: absolute;
    width: 466.29px;
    height: 859.14px;
    left: 1101.71px;
    top: 700px;
}

/* imagem dos cartões coloridos */
.right img{
    position: absolute;
    width: 466.29px;
    height: 859.14px;
    left: 3.71px;
    top: 10px;

    background: url(images/cartoes.png);
}

.vantagens {
    padding-bottom: 50px;
    height: 1000px;
}

.vantagens .container {
    padding-bottom: 900px;
    height: 1000px;
}

.vantagens .left {
    position: absolute;
    width: 966.29px;
    height: 859.14px;
    left: 100.71px;
    top: 700px;
    margin-right: 30px;
}

.vantagens .left .grupo1 {
    width: 15px;
}

.vantagens .left .grupo2 {
    width: 30px;
   
}

.vantagens .left .grupo3 {
    width: 30px;
   
}

.vantagens .left .grupo4 {
    width: 30px;
   
}

.retanguloC .left {
    display: flex;
    width: 900px;
    height: 300px;
    left: 340px;
    top: 120px;
}

.retanguloC .right {
    position: absolute;
    display: flex;
    width: 506px;
    height: 300px;
    left: 1319px;
    top: 200px;
}

/* Um banco completo */
.retanguloC .left h4 {
    position: absolute;
    width: 406px;
    height: 52px;
    left: 340px;
    top: 120px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;

    letter-spacing: -0.03em;

    color: #242424;
}

/* com produtos exclusivos */
.retanguloC .left h5{
    position: absolute;
    width: 351px;
    height: 36px;
    left: 340px;
    top: 200px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;

    color: #616161;
}

/* BOTÃO  */
.retanguloC .right button {
    position: absolute;
    width: 269px;
    height: 56px;
    left: -340px;
    top: 18px;

    background: #242424;
    border-radius: 120px;
}

/* Botão da frase PARA VOCÊ */
.retanguloC .right button h3 {
    position: absolute; 
    width: 101px;
    height: 30px;
    left: 80px;
    top: 1px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.02em;
    text-transform: uppercase;
    white-space: nowrap;

    color: #FFFFFF; 
}

/* PARA SUA EMPRESA */
.retanguloC h3 {
    position: absolute;
    width: 175px;
    height: 20px;
    left: -10px;
    top: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #616161;
}


/* retângulo dos botões para você e para sua empresa */
.retanguloC .right .retangulo{
    position: absolute;
    width: 592px;
    height: 72px;
    left: -350px;
    top: 10px;

    opacity: 0.6;
    border: 1px solid #C4C4C4;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 120px;
}

/* retângulo cinza que fica atrás do retângulo preto */
.retanguloC {
    position: absolute;
    width: 1800px;
    height: 952px;
    left: 0px;
    top: 1700px;

    background: #FAFAFA;
}

.retanguloC .container {
    width: 1800px;
    height: 1000px;
}

/* retângulo preto */
.retanguloC .retanguloP {
    position: absolute;
    width: 1216px;
    height: 424px;
    left: 340px;
    top: 400px;

    background: linear-gradient(113.45deg, #020302 7.61%, #242424 96.26%);
    border-radius: 12px;
}

/* imagem do cartão black */
.retanguloP .right img {
    position: absolute;
    width: 462.37px;
    height: 396.41px;
    left: -800px;
    top: -300px;

    background: url(images/cartao_black.png);
    background-repeat: no-repeat;
}

/* Conta com cartão C6 Business */
.retanguloC .retanguloP .left h4 {
    position: absolute;
    width: 210px;
    height: 62px;
    left: 110px;
    top: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    white-space: nowrap;

    letter-spacing: -0.03em;

    color: #FFFFFF;
}

/* A conta MEI é completa e não tem tarifa de 
manutenção. Além disso, você pode ter 
um cartão de crédito sem anuidade. */
.retanguloC .retanguloP h5 {
    position: absolute;
    width: 341px;
    height: 72px;
    left: 110px;
    top: 110px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    white-space: pre-line;

    color: #FFFFFF;

    opacity: 0.7;
}

/* imagem do celular */
.right .celular {
    position: absolute;
    width: 519px;
    height: 485px;
    left: 130px;
    top: 125px;

    background: url(images/celular_c6.png);
    background: no-repeat;
}

/* ellipse de aproximação e pagamento */
.retanguloP .left .ellipse {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 110px;
    top: 258px;

    background: #FFFFFF;
    border-radius: 100px;
}

.retanguloP .container {
    width: 1220px;
    height: 425px;
}

.retanguloP .left {
    display: flex;
    width: 500px;
    height: 425px;
    left: 340px;
    top: 120px;
}

.retanguloP .right {
    width: 519px;
    
}

/* logo C6 Business */
.c6_Business {
    position: absolute;
    left: 71.04%;

    top: 91.54%;
    background: aqua;
}

/* logo C6 Business */
.retanguloP  .right .c6_Business {
    position: absolute;
    left: -60.04%;
    width: 150px;
    top: -5.54%;
}

/* Aproxime e pague */
.retanguloC .retanguloP .left h3 {
    position: absolute;
    width: 121px;
    height: 21px;
    left: 150px;
    top: 250px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    white-space: nowrap;

    color: #FAFAFA;;
}

/* ícone cartão */
.left .c1{
    position: absolute;
    width: 22px;
    height: 16px;
    left: 240px;
    top: 350px;
}

/* ícone transferências */
.left .c2 {
    position: absolute;
    width: 18px;
    height: 22px;
    left: 625px;
    top: 350px;
}

/* ícone depósito */
.left .c3{
    position: absolute;
    width: 12px;
    height: 22px;
    left: 240px;
    top: 610px;
}

/* ícone atendimento */
.left .c4{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 625px;
    top: 610px;
}

/* Saques nos caixas da rede Banco24Horas */
.left .grupo1 h1 {
    position: absolute;
    width: 227px;
    height: 54px;
    left: 240px;
    top: 385px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    color: #242424;
}

/* São mais de 23 mil caixas em 680 municípios do Brasil. 
Saques ilimitados sem cobrança de tarifa. */
.left .grupo1 h2{
    position: absolute;
    width: 259px;
    height: 72px;
    left: 240px;
    top: 450px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #616161;
}

/* Transferências e TEDs ilimitadas */
.left .grupo2 h1 {
    position: absolute;
    width: 243px;
    height: 54px;
    left: 625px;
    top: 385px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    
    color: #242424;
}

/* Movimente seu dinheiro para qualquer conta 
em qualquer banco sem pagar nada por isso. */
.left .grupo2 h2{
    position: absolute;
    width: 256px;
    height: 72px;
    left: 625px;
    top: 450px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #616161;
}

/* Depósito por boleto */
.left .grupo3 h1{
    position: absolute;
    width: 243px;
    height: 27px;
    left: 240px;
    top: 650px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    color: #242424;
}

/* Emita boletos grátis e traga dinheiro 
para a sua conta C6 sem pagar tarifas. */
.left .grupo3 h2 {
    position: absolute;
    width: 251px;
    height: 72px;
    left: 240px;
    top: 690px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #616161;
}

/* Atendimento 24h */
.left .grupo4 h1{
    position: absolute;
    width: 243px;
    height: 27px;
    left: 625px;
    top: 650px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    color: #242424;
}

/* Conte com a gente 24h por dia, 
7 dias por semana pelo chat do app. */
.left .grupo4 h2{
    position: absolute;
    width: 235px;
    height: 72px;
    left: 625px;
    top: 690px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #616161;
}

/* traço amarelo 1(grupo1) */
.left .traco_1 {
    position: absolute;
    width: 15px;
    height: 2px;
    left: 240px;
    top: 375px;

    background: #FFCE2E;
}

/* traço amarelo 2 (grupo2)*/
.left .traco_2 {
    position: absolute;
    width: 15px;
    height: 2px;
    left: 625px;
    top: 380px;

    background: #FFCE2E;
}

/* traço amarelo 3 (grupo3)*/
.left .traco_3 {
    position: absolute;
    width: 15px;
    height: 2px;
    left: 240px;
    top: 640px;

    background: #FFCE2E;
}
/* traço amarelo 4 (grupo4)*/
.left .traco_4 {
    position: absolute;
    width: 15px;
    height: 2px;
    left: 625px;
    top: 640px;

    background: #FFCE2E;
}


/* polígono amarelo (Opção Para você) */
.container .polygon_1 {
    position: absolute;
    width: 1.5px;
    height: 6px;
    left: 810.5px;
    top: 155px;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFCE2E;

    border-radius: 0.1px;
}

/* polígono amarelo (Opção Para seu negócio) */
.container .polygon_2 {
    position: absolute;
    width: 1.5px;
    height: 6px;
    left: 1050.5px;
    top: 154px;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFCE2E;

    border-radius: 0.5px;
}