.menu {
    display: flex;
}

.menu ul{
    list-style: none;
}

/* Logo */
.menu ul img {
    left: 18.33%;
    right: 75.42%;
    top: 1.9%;
    bottom: 97.11%;
}

.menu ul li {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    color: #FFFFFF;
    opacity: 0.7;
}

/* Para você */
.menu ul .item1{
    position: absolute;
    width: 76px;
    height: 19px;

    left: -2.33%;
    /* right: 75.42%; */
    top: -920.0%;
    
    bottom: 97.11%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    white-space: nowrap;
    
    color: #FFFFFF;

    opacity: 0.7;
}

/* Para seu negócio */
.menu ul .item2{
    position: absolute;
    width: 132px;
    height: 19px;
    left: 15.33%;
    top: -920.0%;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    white-space: nowrap;

    color: #FFFFFF;

    opacity: 0.7;
}   

/* Link */
.menu ul li a {
    display: block;
    padding: 10px 10px;
    display: inline;
   
    text-decoration: none;
    color: #FFFFFF;
}

/* Botão abra sua conta */
.menu ul header button{
    width: 243px;
    height: 40px;
    left: 1000px;
    top: 145px;

    background-color: #FFCE2E;
    border-radius: 100px;
}

/* abra sua conta */
.menu ul button h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 5px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #242424;
}

/* Cabeçalho do menu */
.menu header {
    /* display: flex; */
    justify-content: space-between;
    position: absolute;
    width: 1216px;
    height: 40px;
    left: 352px;
    top: -50px;
}

/* Um banco transparente, completo e com a sua cara */
h1 {
    position: absolute;
    width: 740px;
    height: 124px;
    left: 352px;
    top: 248px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    color: #FFFF;
}

/* Conta digital e cartão de crédito gratuitos. 
Saques e transferências sem tarifa. */
h2 {
    position: absolute;
    width: 365px;
    height: 54px;
    left: 352px;
    top: 396px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFF;
    opacity: 0.7;
}

/* nossos produtos */
h3 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
    line-height: 10px;
    color: #FFFF;
}

/* Sem tarifas: */
h4 {
    position: absolute;
    width: 234px;
    height: 52px;
    left: 353px;
    top: 796px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;

    letter-spacing: -0.03em;

    color: #242424;
}

/* economize seu dinheiro */
h5 {
    position: absolute;
    width: 341px;
    height: 36px;
    left: 353px;
    top: 856px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    white-space: nowrap;

    color: #616161;
}

/*  */
body {
    position: relative;
    line-height: 20.00;
    width: 1900px;
    height: 1097px;
    left: -24px;
    top: -85px;
    background-image: url(images/tela.png);
    background-repeat: no-repeat;
}

/*  */
a {
    position: absolute;
    width: 163px;
    height: 18px;
    left: 392px;
    top: 505px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* BOTÂO NOSSOS PRODUTOS */
button {
    position: absolute;
    width: 243px;
    height: 48px;
    left: 352px;
    top: 490px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
}

/* Conheça nosso Programa de Pontos Átomos */
p {
    position: absolute;
    width: 320px;
    height: 23px;
    left: 418px;
    top: 191px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    white-space: nowrap;

    color: #FFFFFF;

    opacity: 0.7;
}

/* Botão azul NOVO */
.buttonN {
    position: absolute;
    width: 54px;
    height: 26px;
    left: 352px;
    top: 210px;
    
    background: #006D8F;
    border-radius: 120px;
}

/* Novo */
.buttonN h3 {
    width: 16px;
    height: 16px;
    left: 363px;
    top: 200px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 0px;

    color: #FFFFFF;
}

/* imagem dos cartões coloridos */
.tela2 img{
    position: absolute;
    width: 466.29px;
    height: 859.14px;
    left: 1101.71px;
    top: 700px;

    background: url(images/cartoes.png);
}

/* Um banco completo */
.tela3 h4 {
    position: absolute;
    width: 406px;
    height: 52px;
    left: 352px;
    top: 1681px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;

    letter-spacing: -0.03em;

    color: #242424;
}

/* com produtos exclusivos */
.tela3 h5{
    position: absolute;
    width: 351px;
    height: 36px;
    left: 352px;
    top: 1741px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;

    color: #616161;
}

/* BOTÂO  */
.tela3 button {
    position: absolute;
    width: 269px;
    height: 56px;
    left: 987px;
    top: 1758px;

    background: #242424;
    border-radius: 120px;
}

/* Botão da frase PARA VOCÊ */
.tela3 button h3 {
    position: absolute; 
    width: 101px;
    height: 30px;
    left: 80px;
    top: -1px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.02em;
    text-transform: uppercase;
    white-space: nowrap;

    color: #FFFFFF; 
}

/* PARA VOCÊ */
.tela3 h3 {
    position: absolute;
    width: 175px;
    height: 20px;
    left: 1319px;
    top: 1758px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #616161;
}


/* retângulo dos botões para você e para sua empresa */
.retangulo{
    position: absolute;
    width: 592px;
    height: 72px;
    left: 976px;
    top: 1750px;

    opacity: 0.6;
    border: 1px solid #C4C4C4;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 120px;
}

/* retângulo cinza que fica atrás do retângulo preto */
.retanguloC {
    position: absolute;
    width: 1800px;
    height: 952px;
    left: 0px;
    top: 1700px;

    background: #FAFAFA;
}

/* retângulo preto */
.retanguloP {
    position: absolute;
    width: 1216px;
    height: 424px;
    left: 352px;
    top: 1900px;

    background: linear-gradient(113.45deg, #020302 7.61%, #242424 96.26%);
    border-radius: 12px;
}

/* imagem do cartão black */
.retanguloP img {
    position: absolute;
    width: 462.37px;
    height: 396.41px;
    left: 500px;
    top: -90px;

    background: url(images/cartao_black.png);
    background-repeat: no-repeat;
}

/* Conta com cartão C6 Business */
.retanguloP h4 {
    position: absolute;
    width: 210px;
    height: 62px;
    left: 110px;
    top: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    white-space: nowrap;

    letter-spacing: -0.03em;

    color: #FFFFFF;
}

/* A conta MEI é completa e não tem tarifa de 
manutenção. Além disso, você pode ter 
um cartão de crédito sem anuidade. */
.retanguloP h5 {
    position: absolute;
    width: 341px;
    height: 72px;
    left: 110px;
    top: 110px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    white-space: pre-line;

    color: #FFFFFF;

    opacity: 0.7;
}

/* imagem do celular */
.celular {
    position: absolute;
    width: 519px;
    height: 485px;
    left: 130px;
    top: 115px;

    background: url(images/celular_c6.png);
    background: no-repeat;
}

/* ellipse de aproximação e pagamento */
.ellipse {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 455px;
    top: 2158px;

    background: #FFFFFF;
    border-radius: 100px;
}

/* logo C6 Business */
.c6_Business {
    position: absolute;
    left: 71.04%;
    right: 22.11%;
    top: 206.00%;
    bottom: 7.72%;
}

/* Aproxime e pague */
.retanguloP h3 {
    position: absolute;
    width: 121px;
    height: 21px;
    left: 150px;
    top: 250px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    white-space: nowrap;

    color: #FAFAFA;;
}

/* ícone cartão */
.c1{
    position: absolute;
    width: 22px;
    height: 16px;
    left: 357px;
    top: 992px;
}

/* ícone transferências */
.c2 {
    position: absolute;
    width: 18px;
    height: 22px;
    left: 725px;
    top: 987px;
}

/* ícone depósito */
.c3{
    position: absolute;
    width: 12px;
    height: 22px;
    left: 357px;
    top: 1239px;
}

/* ícone atendimento */
.c4{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 725px;
    top: 1239px;
}

/* Saques nos caixas da rede Banco24Horas */
.grupo1 h1 {
    position: absolute;
    width: 227px;
    height: 54px;
    left: 356px;
    top: 1037px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    color: #242424;
}

/* São mais de 23 mil caixas em 680 municípios do Brasil. 
Saques ilimitados sem cobrança de tarifa. */
.grupo1 h2{
    position: absolute;
    width: 259px;
    height: 72px;
    left: 356px;
    top: 1099px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #616161;
}

/* Transferências e TEDs ilimitadas */
.grupo2 h1 {
    position: absolute;
    width: 243px;
    height: 54px;
    left: 725px;
    top: 1037px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    
    color: #242424;
}

/* Movimente seu dinheiro para qualquer conta 
em qualquer banco sem pagar nada por isso. */
.grupo2 h2{
    position: absolute;
    width: 256px;
    height: 72px;
    left: 725px;
    top: 1099px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #616161;
}

/* Depósito por boleto */
.grupo3 h1{
    position: absolute;
    width: 243px;
    height: 27px;
    left: 356px;
    top: 1292px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    color: #242424;
}

/* Emita boletos grátis e traga dinheiro 
para a sua conta C6 sem pagar tarifas. */
.grupo3 h2 {
    position: absolute;
    width: 251px;
    height: 72px;
    left: 356px;
    top: 1327px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #616161;
}

/* Atendimento 24h */
.grupo4 h1{
    position: absolute;
    width: 243px;
    height: 27px;
    left: 725px;
    top: 1292px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    color: #242424;
}

/* Conte com a gente 24h por dia, 
7 dias por semana pelo chat do app. */
.grupo4 h2{
    position: absolute;
    width: 235px;
    height: 72px;
    left: 725px;
    top: 1327px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #616161;
}

/* traço amarelo 1(grupo1) */
.traco_1 {
    position: absolute;
    width: 15px;
    height: 2px;
    left: 357px;
    top: 1019px;

    background: #FFCE2E;
}

/* traço amarelo 2 (grupo2)*/
.traco_2 {
    position: absolute;
    width: 15px;
    height: 2px;
    left: 725px;
    top: 1019px;

    background: #FFCE2E;
}

/* traço amarelo 3 (grupo3)*/
.traco_3 {
    position: absolute;
    width: 15px;
    height: 2px;
    left: 357px;
    top: 1274px;

    background: #FFCE2E;
}
/* traço amarelo 4 (grupo4)*/
.traco_4 {
    position: absolute;
    width: 15px;
    height: 2px;
    left: 725px;
    top: 1274px;

    background: #FFCE2E;
}

.menu div {
    display: inline-block;
    margin-right: 10px;
}

/* polígono amarelo (Opção Para você) */
.polygon_1 {
    position: absolute;
    width: 1.5px;
    height: 6px;
    left: 767.5px;
    top: 154px;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFCE2E;

    border-radius: 0.1px;
}

/* polígono amarelo (Opção Para seu negócio) */
.polygon_2 {
    position: absolute;
    width: 1.5px;
    height: 6px;
    left: 515.5px;
    top: 154px;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFCE2E;

    border-radius: 0.5px;
}

.grid {
    display: grid;
}

.grid-template-columns {
    grid-template-columns: 200px 200px 200px 200px;
}
